<div class="card shadow-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
      <a href="/planets/<%= url.split("/").last %>"><%= name %></a>
    </h5>
    <ul>
      <li>
        <strong>Diameter:</strong>
        <%= diameter %>
      </li>

      <li>
        <strong>Climate:</strong>
        <%= climate %>
      </li>

      <li>
        <strong>Terrain:</strong>
        <%= terrain %>
      </li>

      <li>
        <strong>Population:</strong>
        <%= population %>
      </li>
    </ul>
  </div>
</div>
